<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand logo" (click)="dashboard()"> <img src="./assets/imagens/OtimizaTI.png" alt=""> </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">    
      </div>
    </nav>
</header>
 
<div class="container">
    <router-outlet></router-outlet>
</div>  

